.Controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
}

.controls-play {
  margin: 20px 0;
}

.controls-sound {
  position: relative;
}

@media screen and (max-height: 680px) {
  .controls-sound {
    display: none;
  }
}
