.Info {
  height: 6rem;
}

.Info > * {
  line-height: 2.5rem;
}

.Info-title {
  font-size: 2rem;
  color: #5b595b;
  max-height: 5.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Info-artist {
  font-size: 1.5rem;
  font-weight: 400;
  color: #625fe2;
  max-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Info-label {
  font-size: 1.5rem;
  color: #bdbdbd;
}
