.Tracklist-container {
    width: 100%;
    height: 60%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.TrackList {
    flex-direction: row-reverse;
    display: flex;
    flex-wrap: nowrap;
    width: 50%;
    margin-left: 100px;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
}

.Tracklist-infos {
    box-sizing: border-box;
    padding: 0 100px;
}

.TrackList-item {
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    opacity: .8;
    transform-origin: top left;
    will-change: transform;
    transform-origin: center;
    animation: will-block .3s ease-in-out forwards;
}

.TrackList-item.last {
    width: 11rem;
    height: 11rem;
    animation: will-appear .3s ease-in-out forwards;
    margin: 0 24px;
}

.TrackList-item.last::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    z-index: -1;
    background: #625fe2;
    box-shadow: 0 5px 26px 10px rgba(0, 0, 0, .1), 0 6px 46px 10px rgba(98, 94, 226, .1);
    transform: translate(-50%, -50%);
}

.TrackList-item img {
    width: 8rem;
    border-radius: 50%;
}

.TrackList-item.last img {
    width: 11rem;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .Tracklist-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .Tracklist-infos {      
        margin: 0 auto;
        padding-top: 100px;
    }
    .TrackList {
        width: 50%;
    }
}

@keyframes will-appear {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@keyframes will-block {
  from {
    opacity: 1;
  }
  to {
    opacity: .8;
  }
}
